.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222;
}

.header .logo {
    max-height: 45px;
    /* margin-right: 120px; */
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.adj-logo {
    margin-left: 62.5px;
    margin-right: 62.5px;
}